<ion-app>
     <ion-header class="header ion-no-border">
           <ion-text>
                <ion-button (click)="back()" fill="clear">
                     <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                     <span class="">Back</span>
               </ion-button>
           </ion-text>
     </ion-header>
     <ion-content>
          <div class="content">
               <div>
                    <ion-text>
                         <h1>Change Password</h1>
                    </ion-text>
                    <ion-text class="text">Your new password must be different from previous used passwords</ion-text>
                    <ion-item lines="none" class="border">
                         <ion-label position="stacked">Password</ion-label>
                         <ion-input [(ngModel)]="password" type="password"></ion-input>
                    </ion-item>
                    <ion-item lines="none" class="border">
                         <ion-label position="stacked">Confirm Password</ion-label>
                         <ion-input [(ngModel)]="email" type="password"></ion-input>
                    </ion-item>
                    <div class="flex">
                         <ion-button size="default" color="primary" (click)="requestCode()">Reset Password</ion-button>
                    </div>
               </div>
          </div>
     </ion-content>

</ion-app>
