<ion-app>
     <ion-header class="header ion-no-border">
           <ion-text>
                <ion-button (click)="back()" fill="clear">
                     <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                     <span class="">Back</span>
               </ion-button>
           </ion-text>
     </ion-header>
     <ion-content>
          <div class="content">
               <div>
                    <ion-img src="../../assets/change-password.svg" class="image"></ion-img>
                    <ion-text>
                         <h1>Change Password</h1>
                    </ion-text>
                    <!-- <ion-text class="text">
                      Your new password must be different from previous used passwords
                    </ion-text> -->
                    <ion-item lines="none" class="border">
                         <!-- <ion-label position="stacked">Password</ion-label> -->
                         <ion-input [(ngModel)]="change.password" [type]="passwordType" placeholder="Password"></ion-input>
                         <ion-icon name="eye" (click)="viewPassword()" *ngIf="hidePassword"></ion-icon>
                         <ion-icon name="eye-off" (click)="viewPassword()" *ngIf="!hidePassword"></ion-icon>
                    </ion-item>
                    <ion-item lines="none" class="border">
                         <!-- <ion-label position="stacked">Confirm Password</ion-label> -->
                         <ion-input [(ngModel)]="change.password2" [type]="passwordConfirmType" placeholder="Confirm password"></ion-input>
                         <ion-icon name="eye" (click)="viewConfirmPassword()" *ngIf="hideConfirmPassword"></ion-icon>
                         <ion-icon name="eye-off" (click)="viewConfirmPassword()" *ngIf="!hideConfirmPassword"></ion-icon>
                    </ion-item>
                    <div class="flex">
                         <ion-button size="default" color="tertiary" (click)="checkNetwork()">Change Password</ion-button>
                    </div>
               </div>
          </div>
     </ion-content>

</ion-app>
