.header
{
     padding: 10px 0;
}
span
{
     margin-left: 8px;
}
.content
{
     padding: 10px 15px;
     letter-spacing: 1px;
}
.flex
{
     display: flex;
     justify-content: center;
}
h1
{
     line-height: 40px;
}
.border
{
     border: solid 2px white ;
     border-radius: 20px;
     margin: 30px;
}
.text
{
     margin: 15px 0;
     line-height: 20px;
}
