<ion-app>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button size="small" color="light" (click)="addExpense()"
      ><ion-icon name="add-outline"></ion-icon
    ></ion-fab-button>
  </ion-fab> -->
  <ion-header
    color=""
    class="header ion-no-border"
    style="clip-path: ellipse(117% 100% at 52.01% 0%)"
  >
    <div class="header-container">
      <ion-text><h5>Expense</h5></ion-text>
      <ion-text class="bolder"><h1>#{{total}}</h1></ion-text>
    </div>
  </ion-header>
  <ion-content fullscreen="true">
     <div style="display:flex;justify-content:center;position:sticky;top:0">
          <div class="tabs-wrapper">
               <ion-text class="tabs-button" [style]="active.current" (click)="ClickCurrent()">Current</ion-text>
               <ion-text class="tabs-button" [style]="active.past" (click)="ClickPast()">Past</ion-text>
               <ion-text class="tabs-button" [style]="active.specific" (click)="showModal()">Select Date</ion-text>
          </div>
     </div>
    <div *ngIf="total !== 0">
      <ion-item color="primary" *ngFor="let expense of expenses">
        <div class="fullDiv">
          <div class="flex">
            <ion-text class="">Category: {{expense.category}}</ion-text>
          </div>
          <div class="center">
            <ion-text color="tertiary"
              ><h1 class="bold">#{{expense.amount}}</h1></ion-text
            >
            <ion-text class="">{{expense.created_at}}</ion-text>
          </div>
          <div class="flex">
            <ion-text class="">Description: </ion-text>
            <ion-text class="">{{expense.description}}</ion-text>
          </div>
        </div>
      </ion-item>
    </div>
    <div *ngIf="total == 0" class="no-expenses-wrapper">
      <div class="no-expenses">
        <ion-text>
          <p>
            You have not recorded any expenses this month. Click the button below to
            record an expense
          </p>
        </ion-text>
        <ion-button
          size="default"
          expand="block"
          color="danger"
          (click)="addExpense()"
          >Add Expense</ion-button
        >
      </div>
    </div>
    <ion-item lines="none">
         <ion-modal [swipeToClose]="true" [isOpen]="isOpen">
          <ng-template>
               <!-- <ion-button (click)="closeModal()">Close</ion-button> -->
               <ion-text (click)="closeModal()" color="danger" style="text-align:right;padding:10px ">Close</ion-text>
                <ion-content class="wrapper">
                    <div class="wrapper-cont">
                         <div class="flex">
                              <ion-label position="float">Start date</ion-label>
                              <ion-text class="dateText">{{ dateValue1 }}</ion-text>
                         </div>
                         <div class="flex">
                              <ion-label position="float">End date</ion-label>
                              <ion-text class="dateText">{{ dateValue2 }}</ion-text>
                         </div>
                         <ion-item lines="none" class="">
                           <ion-datetime
                                presentation="date" #dateTime size="cover" [disabled]="disabled"
                                (ionChange)="setDate(dateTime.value)"
                            ></ion-datetime>
                         </ion-item>
                    </div>
                    <div style="display:grid;justify-content:center">
                         <ion-button size="default" (click)="ClickSpecific()">Get Expense</ion-button>
                         <ion-text style="text-align:center;margin-top:6px" (click)="resetDate()">Reset date</ion-text>
                    </div>
                </ion-content>
          </ng-template>
        </ion-modal>
    </ion-item>
  </ion-content>
</ion-app>
