<ion-app>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="light" (click)="addIncome()" size="small">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button color="light" (click)="menu()" size="small">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-header color="" class="header ion-no-border" style="clip-path: ellipse(117% 100% at 52.01% 0%);">
    <div class="header-container">
      <ion-text>
        <h5>Income</h5>
      </ion-text>
      <ion-text class="bolder">
        <h1>#{{total}}</h1>
      </ion-text>
    </div>
  </ion-header>
  <ion-content fullscreen="true">
    <div *ngIf="total !== 0">
      <ion-item color="primary" *ngFor="let revenue of income">
        <div class="fullDiv">
          <div class="flex">
            <ion-text class="">Date: {{revenue.created_at}}</ion-text>
          </div>
          <div class="center">
            <ion-text color="tertiary">
              <h1 class="bold">#{{revenue.amount}}</h1>
            </ion-text>
          </div>
          <div class="flex">
            <ion-text class="">Source: </ion-text>
            <ion-text class="">{{income.source}}</ion-text>
          </div>
        </div>
      </ion-item>
    </div>
    <div *ngIf="total == 0" class="no-expenses-wrapper">
      <div class="no-expenses">
        <ion-text>
          <p>You have not recorded any Income yet. Click the button below to record an Income</p>
        </ion-text>
        <ion-button size="default" expand="block" color="tertiary" (click)="addIncome()">Add Income</ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>
