<ion-content>
   <div id="container">
      <div class="central">
         <ion-item lines="none">
           <div class="header">
             <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
             <ion-text color="primary"  class="text">ExpenseX</ion-text>
           </div>
         </ion-item>
         <ion-item lines="none">
            <ion-text class="word" color="secondary">Enter the verification sent to your mobile or email to continue.</ion-text>
         </ion-item>
         <ion-item lines="none">
              <!-- <ion-icon name="lock-closed-outline" slot="start"></ion-icon> -->
              <!-- <ion-label position="floating" color="tertiary">Verification Code</ion-label> -->
              <div class="box">
                 <ion-input type="number" color="primary" [(ngModel)]="code" autofocus="true" inputmode="numeric" max="6" min="6"></ion-input>
              </div>
         </ion-item>
         <ion-item lines="none">
           <ion-button type="submit" class="loginButton" size="large" expand="block" strong="true" (click)="verify()">Verify</ion-button>
         </ion-item>
         <ion-item lines="none">
           <ion-text style="text-align: center; margin: 0 auto">Did not receive code? <ion-text color="primary" (click)="resendVerification()">Resend</ion-text></ion-text>
         </ion-item>
      </div>
   </div>
</ion-content>
