<ion-app>
   <ion-header class="header">
      <!-- <div class="header-box">
         <ion-text class="bold"><h1>Verify your account</h1></ion-text>
      </div> -->
   </ion-header>

   <ion-content>
      <div class="container">
         <ion-text class="bold">Verify your Email</ion-text>
         <div>
            <ion-item lines="none" class="border">
              <!-- <ion-label position="stacked">Email</ion-label> -->
              <ion-input placeholder="verification code" type="text" [(ngModel)]="code"></ion-input>
            </ion-item>
            <div>
               <ion-button size="large" expand="block" color="tertiary" (click)="verify()">Verify Password</ion-button>
               <ion-text class="forgot" (click)="forgotPassword()">Resend verification code</ion-text>
            </div>
         </div>
      </div>
   </ion-content>

</ion-app>
