<ion-app>
   <ion-fab vertical="top" horizontal="start" slot="fixed">
     <ion-fab-button color="tertiary" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
     </ion-fab-button>
   </ion-fab>
   <!-- <ion-header class="header ion-no-border" color="primary">
      <ion-img src="../../assets/income.svg"></ion-img>
   </ion-header> -->
   <ion-content>
      <div class="header ion-no-border" color="primary">
         <ion-img src="../../assets/income.svg"></ion-img>
      </div>
      <div class="container">
         <ion-text class="bold"  color="tertiary">Create Income</ion-text>
         <ion-text color=""><p>Agbafiriyoyo, Money boss...</p></ion-text>
         <ion-item lines="none" class="border">
             <ion-label position="floating" >Sources</ion-label>
             <ion-select [(ngModel)]="income.source">
                <ion-select-option *ngFor="let source of sources" :value="{{source.source}}" >{{source.source}}</ion-select-option>
            </ion-select>
         </ion-item>
         <ion-item lines="none" class="border">
           <ion-label position="floating">Amount</ion-label>
           <ion-input placeholder="Amount" type="text" [(ngModel)]="income.amount"></ion-input>
         </ion-item>
         <div>
            <ion-button size="default" expand="block" color="tertiary" (click)="addIncome()">Create Income</ion-button>
         </div>

      </div>
   </ion-content>
</ion-app>
