<ion-app>
   <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="back()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
   <ion-header class="grid" color="primary">
      <ion-text class="profile">Profile</ion-text>
      <div>
         <ion-thumbnail class="image">
            <ion-img  src="{{image}}"></ion-img>
         </ion-thumbnail>
      </div>
      <ion-text class="names">{{name}}</ion-text>
      <ion-text class="gender">{{userData.gender}}</ion-text>
   </ion-header>
   <ion-content>
      <!-- <ion-list>
         <ion-item > -->
         <ion-grid >
               <div class="item">
                  <ion-row  >
                     <ion-col size="2"><ion-icon name="call-outline"></ion-icon></ion-col>
                     <ion-col class="text">{{userData.phone}}</ion-col>
                  </ion-row>
                  <ion-row>
                     <ion-col  size="2"><ion-icon name="mail-outline"></ion-icon></ion-col>
                     <ion-col class="text">{{userData.email}}</ion-col>
                  </ion-row>
               </div>
               <div class="item">
                  <ion-row  >
                     <ion-col>
                        <ion-label stacked>Update a profile picture</ion-label>
                        <ion-input [(ngModel)]="picture" type="url"></ion-input>
                     </ion-col>
                     <ion-col size="3">
                        <ion-text class="saveText" (click)="savePicture()">Save</ion-text>
                     </ion-col>
                  </ion-row>
               </div>
               <div class="item">
                  <ion-row  >
                     <ion-col>
                        <ion-label stacked>Your age range</ion-label>
                        <ion-select [(ngModel)]="age">
                           <ion-select-option *ngFor="let age of ageRange" [value]="age">{{age}}</ion-select-option>
                        </ion-select>
                     </ion-col>
                     <ion-col size="3">
                        <ion-text class="saveText" (click)="saveAge()">Save</ion-text>
                     </ion-col>
                  </ion-row>
               </div>
               <div class="item">
                  <ion-row  >
                     <ion-col>
                        <ion-label stacked>Your occupation</ion-label>
                        <ion-select [(ngModel)]="job" multiple="true">
                           <ion-select-option *ngFor="let job of occupation" [value]="job">{{job}}</ion-select-option>
                        </ion-select>
                     </ion-col>
                     <ion-col size="3">
                        <ion-text (click)="saveJob()" class="saveText">Save</ion-text>
                     </ion-col>
                  </ion-row>
               </div>
               <div class="item">
                  <ion-row  >
                     <ion-col>
                        <ion-label stacked>Average monthly income</ion-label>
                        <ion-select [(ngModel)]="income">
                           <ion-select-option *ngFor="let income of monthlyIncome" [value]="income">{{income}}</ion-select-option>
                        </ion-select>
                     </ion-col>
                     <ion-col size="3">
                        <ion-text class="saveText" (click)="saveIncome()">Save</ion-text>
                     </ion-col>
                  </ion-row>
               </div>
            </ion-grid>


         <!-- </ion-item>
      </ion-list> -->
   </ion-content>
</ion-app>
