<ion-app>

   <ion-menu side="end" menuId="first" contentId="main" class="menuBox">
     <!-- <ion-header>

     </ion-header> -->
     <ion-content  class="menuBox">
        <ion-header>
           <ion-toolbar class="flex">
              <ion-thumbnail class="image">
                 <ion-img  src="{{image}}"></ion-img>
              </ion-thumbnail>
              <ion-text style="font-weight: medium;font-size: 1.2em; letter-spacing: 1px;display:block;text-align:center;padding:10px;">Hello!</ion-text>
              <ion-text style="font-size:1.2em;font-weight:bolder;color:#000;letter-spacing:1.5px;">{{name}}</ion-text>
           </ion-toolbar>
        </ion-header>
       <ion-list style="margin-top: 20px">
         <ion-item (click)="profile()"><ion-text class="menuList">Profile</ion-text></ion-item>
         <!-- <ion-item ><ion-text class="menuList">Settings</ion-text></ion-item> -->
         <!-- <ion-item></ion-item>
         <ion-item>Menu Item</ion-item> -->
         <ion-item (click)="feedback()"><ion-text class="menuList">Feedback</ion-text></ion-item>
         <ion-item (click)="signout()"><ion-text class="menuList">Sign out</ion-text></ion-item>
       </ion-list>
     </ion-content>
   </ion-menu>

   <ion-content [fullscreen]="true" class="graph" id="main">

      <ion-toolbar class="ion-toolbar">
         <ion-title class="title">{{totalAmnt}}</ion-title>
        <ion-icon name="person-circle-outline" slot="end" size="large" class="avater" (click)="openFirst()">
           <!-- <ion-menu-button></ion-menu-button> -->
        </ion-icon>
      </ion-toolbar>
      <ion-fab vertical="center" horizontal="end" slot="fixed" >
         <ion-fab-button (click)="createExpense()">
            <ion-icon name="add"></ion-icon>
         </ion-fab-button>
       </ion-fab>
       <div class="expenseChartCont">
         <!-- <ion-item lines="none" color="none">
             <ion-text class="graphTitle">{{expenseHeader}}</ion-text>
         </ion-item> -->
        <div class="flex">
           <canvas id="canvas" #canvas></canvas>
        </div>
       </div>
      <ion-list *ngIf="expenses;else no_expenses">
         <ion-item>

         </ion-item>
         <ion-item *ngFor="let item of data" button (click)="getAll(item)" detail>
            <div  class="chartlabel">
               <ion-grid>
                  <div class="grid">
                     <!-- <ion-col size="6"> -->
                        <div class="color" #werey style="background:{{item[1].color}};"></div>
                     <!-- </ion-col> -->
                     <!-- <ion-col size="6" > -->
                        <ion-label style="margin-left: 10px">
                            {{item[1].category_id}}
                        </ion-label>
                     <!-- </ion-col> -->
                  </div>
                  <div *ngIf="item[1].display" style="margin: 10px auto">
                     <ion-row>
                        <ion-col>Amount</ion-col>
                        <ion-col>Date</ion-col>
                     </ion-row>
                     <ion-row *ngFor="let detail of item">
                        <ion-col>
                           <ion-text>
                              #{{detail.amount}}
                           </ion-text>
                        </ion-col>
                        <ion-col>
                           <ion-text>
                              {{detail.created_at}}
                           </ion-text>
                        </ion-col>
                     </ion-row>
                  </div>
               </ion-grid>
            </div>
         </ion-item>
         <!-- <ion-item> -->

         <!-- </ion-item> -->
      </ion-list>
      <ng-template #no_expenses>
         <ion-list>
            <ion-item lines="none">
               <div class="flex">
                  <ion-text class="text">Oops, You haven't recorded any expenses for this month. Click the button below to create an expense</ion-text>
                  <ion-button color="primary" size="default" (click)="createExpense()">Add Expense</ion-button>
               </div>
            </ion-item>
         </ion-list>
      </ng-template>
   </ion-content>

</ion-app>
