<ion-app>
     <ion-header class="header ion-no-border">
           <ion-text>
                <ion-button (click)="back()" fill="clear">
                     <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                     <span class="">Back</span>
               </ion-button>
           </ion-text>
     </ion-header>
     <ion-content>
          <div class="content">
               <div *ngIf="MailHasBeenSent == true; else resetPassword">
                    <ion-text>
                         <h1>Verify code</h1>
                    </ion-text>
                    <ion-text class="text">A verification was sent to your email, kindly enter the verification code</ion-text>
                    <ion-item lines="none" class="border">
                         <ion-label position="stacked">Verification code</ion-label>
                         <ion-input [(ngModel)]="code"></ion-input>
                    </ion-item>
                    <div class="flex">
                         <ion-button size="default" color="primary" (click)="verifyCode()">Verify</ion-button>
                    </div>
               </div>
               <ng-template #resetPassword>
                    <ion-text>
                         <h1>Reset Password</h1>
                    </ion-text>
                    <ion-text class="text">Enter the Email associated with the account and we'll send the recovery innstructions to your </ion-text>
                    <ion-item lines="none" class="border">
                         <ion-label position="stacked">Email Address</ion-label>
                         <ion-input [(ngModel)]="email"></ion-input>
                    </ion-item>
                    <div class="flex">
                         <ion-button size="default" color="primary" (click)="requestCode()">Receive instructions</ion-button>
                    </div>
               </ng-template>
          </div>
     </ion-content>

</ion-app>
