<ion-content>
   <div id="container">
      <div class="central">
         <ion-item lines="none">
           <div class="header">
             <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
             <ion-text color="primary"  class="text">ExpenseX</ion-text>
           </div>
         </ion-item>

         <ion-item lines="full">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label position="floating" color="tertiary">Email</ion-label>
              <ion-input type="email" color="light" [(ngModel)]="email"></ion-input>
         </ion-item>
         <ion-item lines="none">
           <ion-button type="submit" class="loginButton" size="large" expand="block" strong="true" (click)="recover()">Recover</ion-button>
         </ion-item>
      </div>
   </div>
</ion-content>
