.header
{
     padding: 10px 0;
}
span
{
     margin-left: 8px;
}
.content
{
     padding: 0 15px;
     letter-spacing: 1px;
}
.flex
{
     display: flex;
     justify-content: center;
}
h1
{
     line-height: 30px;
     text-align: center
}
.border
{
     border: solid thin #000 ;
     border-radius: 20px;
     margin: 30px;
}
.text
{
     margin: 10px 0;
     line-height: 20px;
}
.image
{
     width: 80vw;
     height: 250px;
     margin: 10px auto;
}
