#container
{
  // background: #1d2226;
  height: 100vh;
  width: 100vw;
  padding: 20px 15px;
}
.central
{
   display: grid;
   justify-content: center;
   text-align: left;
   align-items: center;
   margin: 15vh auto;
}
.header
{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-bottom: 90px;
}
.logo
{
  width: 20vw;
  height: 15vh;
  margin: 5px auto;
  border-radius: 50%;
}
.text
{
  letter-spacing: 1px;
  font-style: italics;
  line-height: 12px;
  font-size: 20px;
}
.loginButton
{
  color: #fff;
  font-weight: bolder;
  font-size: 14px;
  margin: 20px auto;
}
